In [48]:
# Import pandas with alias
import pandas as pd

# Read in the census dataframe
census = pd.read_csv('census_data.csv', index_col=0)

In [49]:
display(census.head(10))

,first_name,last_name,birth_year,voted,num_children,income_year,higher_tax,marital_status
0,Denise,Ratke,2005,False,0,92129.41,disagree,single
1,Hali,Cummerata,1987,False,0,75649.17,neutral,divorced
2,Salomon,Orn,1992,True,2,166313.45,agree,single
3,Sarina,Schiller,1965,False,2,71704.81,strongly agree,married
4,Gust,Abernathy,1945,False,2,143316.08,agree,married
5,Lady,Hills,1951,True,0,160391.20,disagree,widowed
6,Tremaine,Pacocha,1963,False,1,49801.77,strongly disagree,divorced
7,Jaime,Towne,1949,False,2,140803.16,agree,single
8,Tex,Lynch,1950,False,1,122486.71,agree,single
9,Nathanial,Gislason,1971,True,4,157088.26,strongly agree,married

In [50]:
print(census.dtypes)

first_name         object
last_name          object
birth_year         object
voted                bool
num_children        int64
income_year       float64
higher_tax         object
marital_status     object
dtype: object

In [51]:
# Look at birth_year, we see one entry has value 'missing'
print(census.birth_year.unique())

['2005' '1987' '1992' '1965' '1945' '1951' '1963' '1949' '1950' '1971'
 '2007' '1944' '1995' '1973' '1946' '1954' '1994' '1989' '1947' '1993'
 '1976' '1984' 'missing' '1966' '1941' '2000' '1953' '1956' '1960' '2001'
 '1980' '1955' '1985' '1996' '1968' '1979' '2006' '1962' '1981' '1959'
 '1977' '1978' '1983' '1957' '1961' '1982' '2002' '1998' '1999' '1952'
 '1940' '1986' '1958']

In [52]:
# We find that the missing value should be 1967 so we replace with 
# the string '1967' before converting to 'int' and viewing the mean
census.birth_year = census.birth_year.replace('missing', '1967')
census.birth_year = census.birth_year.astype('int')
print(census.birth_year.mean())

1973.4

In [53]:
print(census.higher_tax.unique())

['disagree' 'neutral' 'agree' 'strongly agree' 'strongly disagree']

In [54]:
census['higher_tax'] = pd.Categorical(census.higher_tax,
                                   ['strongly disagree', 'disagree', 'neutral', 'agree', 'strongly agree'],
                                  ordered=True)
census['higher_tax_code'] = census.higher_tax.cat.codes
print(census.higher_tax_code.median())

2.0

In [55]:
census = pd.get_dummies(census, columns=['marital_status'])
display(census.head())

,first_name,last_name,birth_year,voted,num_children,income_year,higher_tax,higher_tax_code,marital_status_divorced,marital_status_married,marital_status_single,marital_status_widowed
0,Denise,Ratke,2005,False,0,92129.41,disagree,1,0,0,1,0
1,Hali,Cummerata,1987,False,0,75649.17,neutral,2,1,0,0,0
2,Salomon,Orn,1992,True,2,166313.45,agree,3,0,0,1,0
3,Sarina,Schiller,1965,False,2,71704.81,strongly agree,4,0,1,0,0
4,Gust,Abernathy,1945,False,2,143316.08,agree,3,0,1,0,0