# This Is Jeopardy!

### Project Goals

You will work to write several functions that investigate a dataset of Jeopardy! questions and answers. Filter the dataset for topics that you’re interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

In [62]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [77]:
j = pd.read_csv('jeopardy.csv')

In [79]:
print(j.columns)

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

Note that in order to make this project as “real-world” as possible, we haven’t modified the data at all — we’re giving it to you exactly how we found it. As a result, this data isn’t as “clean” as the datasets you normally find on Codecademy. More specifically, there’s something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier the rest of the project.

In [80]:
j.rename(lambda s: s.strip(), axis='columns', inplace=True)
print(j.columns)

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list ["King", "England"] was passed to our function, the function returned a DataFrame of 152 rows. Every row had the strings "King" and "England" somewhere in its " Question".

Note that in this example, we found 152 rows by filtering the entire dataset. You can download the entire dataset at the start or end of this project. The dataset used on Codecademy is only a fraction of the dataset so you won’t find as many rows.

Test your function by printing out the column containing the question of each row of the dataset.

In [81]:
def question_search(df, word_list):
    indices = []
    for i in range(len(df)):
        q = df.iloc[i].Question.lower()
        if all(word.lower() in q for word in word_list):
            indices.append(i)
    return df.iloc[indices]

In [82]:
filtered_data = question_search(j, ['King', 'England'])

In [83]:
filtered_data.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
4953,3003,1997-09-24,Double Jeopardy!,"""PH""UN WORDS",$200,"Both England's King George V & FDR put their stamp of approval on this ""King of Hobbies""",Philately (stamp collecting)
6337,3517,1999-12-14,Double Jeopardy!,Y1K,$800,"In retaliation for Viking raids, this ""Unready"" king of England attacks Norse areas of the Isle of Man",Ethelred
9191,3907,2001-09-04,Double Jeopardy!,WON THE BATTLE,$800,This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt,Henry V
11710,2903,1997-03-26,Double Jeopardy!,BRITISH MONARCHS,$600,"This Scotsman, the first Stuart king of England, was called ""The Wisest Fool in Christendom""",James I
13454,4726,2005-03-07,Jeopardy!,A NUMBER FROM 1 TO 10,$1000,It's the number that followed the last king of England named William,4

Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

For example, think about capitalization. We probably want to find questions that contain the word "King" or "king".

You may also want to check to make sure you don’t find rows that contain substrings of your given words. For example, our function found a question that didn’t contain the word "king", however it did contain the word "viking" — it found the "king" inside "viking". Note that this also comes with some drawbacks — you would no longer find questions that contained words like "England's".

We may want to eventually compute aggregate statistics, like .mean() on the " Value" column. But right now, the values in that column are strings. Convert the " Value" column to floats. If you’d like to, you can create a new column with the float values.

Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the “difficulty” of certain topics. For example, what is the average value of questions that contain the word "King"?

Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [84]:
float(j.Value[0].strip('$'))

200.0

In [86]:
# j.Value.apply(lambda v: float(v.strip('$')))
# ValueError: could not convert string to float: '2,000'

# so try replacing ','
# j.Value.apply(lambda v: float(v.strip('$').replace(',','')))
# ValueError: could not convert string to float: 'None'

# So we try getting rid of 'None' strings.
# j.Float_Value = j.Value.apply(lambda v: v.replace('None','$0'))
# j.Float_Value = j.Float_Value.apply(lambda v: float(v.strip('$').replace(',','')))

# or in one go:
j.Float_Value = j.Value.apply(
    lambda v: 0.0 if v=='None' else
    float(v.strip('$').replace(',',''))
)

print(j.Float_Value)

0          200.0
1          200.0
2          200.0
3          200.0
4          200.0
           ...
216925    2000.0
216926    2000.0
216927    2000.0
216928    2000.0
216929       0.0
Name: Value, Length: 216930, dtype: float64

<ipython-input-86-9b2a1e0ed4fb>:13: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  j.Float_Value = j.Value.apply(

Write a function that returns the count of the unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word "King", we could then find all of the unique answers to those questions. The answer “Henry VIII” appeared 3 times and was the most common answer.

In [94]:
def answer_count(df):
    return df['Answer'].value_counts()

In [95]:
filtered_data = question_search(j, ['King', 'England'])
unique_answer_count = answer_count(filtered_data)
print(unique_answer_count)

William the Conqueror      6
Edward                     3
Wessex                     3
Oliver Cromwell            3
Richard the Lionhearted    3
                          ..
11th century               1
Henry IV                   1
his duty                   1
The Cider House Rules      1
George (I - IV)            1
Name: Answer, Length: 114, dtype: int64

In [96]:
print(unique_answer_count['Henry VIII'])

# We find that 'William the Conqueror' is the most 
# common answer with 6, while Henry VIII appears only 
# three times

3

Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven’t even started looking at yet. Here are some ideas on ways to continue working with this data:

Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word "Computer" compared to questions from the 2000s?
Is there a connection between the round and the category? Are you more likely to find certain categories, like "Literature" in Single Jeopardy or Double Jeopardy?
Build a system to quiz yourself. Grab random questions, and use the input function to get a response from the user. Check to see if that response was right or wrong. Note that you can’t do this on the Codecademy platform — to do this, download the data, and write and run the code on your own computer!